<ion-row>
  <ion-col class="ion-text-center">
    <h3>Seleccione Avatar</h3>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <!-- -------------------------------------------------------slides dos----------------------------- -->
    <ion-slides [options]="avatarSlide">
      <ion-slide *ngFor="let avatar of avatares">
        <ion-img
          class="pick-avatar"
          src="/assets/avatares/{{ avatar.img }}"
          [ngClass]="{ 'pick-avatar-seleccionado': avatar.seleccionado }"
          (click)="seleccionarAvatar(avatar)"
        ></ion-img>
      </ion-slide>
    </ion-slides>
  </ion-col>
</ion-row>
