<ion-header no-border>
  <ion-toolbar>
    <ion-title> Nuevo Post </ion-title>

    <ion-buttons slot="end">
      <!-- si el post es menor q 1 desabilito sy se escibe 1 ó + palabras habilito -->
      <!-- cualquiera de de las sea true se desabilita ....(post.mensaje.length < 1 || cargandoGeo )-->
      <ion-button
        (click)="crearPost()"
        [disabled]="post.mensaje.length < 1 || cargandoGeo "
        class="btn-font"
      >
        Compartir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Mensaje</ion-label>
      <ion-textarea [(ngModel)]="post.mensaje"></ion-textarea>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label>Posición actual</ion-label>
        <ion-spinner
          name="lines-small"
          *ngIf="cargandoGeo"
          class="btn-font"
        ></ion-spinner>
        <!-- cuando se cambie el valor post.position disparo ionChange -->
        <ion-toggle
          slot="end"
          [(ngModel)]="post.posicion"
          (ionChange)="getGeo()"
        ></ion-toggle>
      </ion-item>
    </ion-list>
  </ion-list>

  <ion-row class="ion-text-center">
    <ion-col size="6">
      <button expand="full" class="btn" shape="round" (click)="Opencamara()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Cámara
      </button>
    </ion-col>
    <ion-col size="6">
      <button expand="full" shape="round" class="btn" (click)="libreria()">
        <ion-icon slot="start" name="images"></ion-icon>
        Galería
      </button>
    </ion-col>
  </ion-row>

  <ion-row>
    <!-- Mostrar la imagen capturada por la cámara -->
  <!--   <ion-col size="6">
      <ion-button expand="full"
                  shape="round"
                  (click)="libreria()">
        <ion-icon slot="start" name="images"></ion-icon>
        Galería
      </ion-button>
    </ion-col> -->
    <!-- Mostrar las imágenes cargadas desde la galería -->
    <ion-col size="3" *ngFor="let image of tempImages">
      <ion-card>
        <img [src]="image" />
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
