<ion-header no-border>
  <ion-toolbar>
    <ion-title class="title-large"> Nuevo Post </ion-title>

    <ion-buttons slot="end">
      <!-- si el post es menor q 1 desabilito sy se escibe 1 ó + palabras habilito -->
      <!-- cualquiera de de las sea true se desabilita ....(post.mensaje.length < 1 || cargandoGeo )-->
      <ion-button
        (click)="crearPost()"
        [disabled]="post.mensaje.length < 1 || cargandoGeo "
        class="btn-font"
      >
        Compartir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Mensaje</ion-label>
      <ion-textarea [(ngModel)]="post.mensaje"></ion-textarea>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label>Posición actual</ion-label>
        <ion-spinner
          name="lines-small"
          *ngIf="cargandoGeo"
          class="btn-font"
        ></ion-spinner>
        <!-- cuando se cambie el valor post.position disparo ionChange -->
        <ion-toggle
          slot="end"
          [(ngModel)]="post.posicion"
          (ionChange)="getGeo()"
        ></ion-toggle>
      </ion-item>
    </ion-list>
  </ion-list>

  <ion-row class="ion-text-center">
    <ion-col size="6">
      <button
        expand="full"
        expand="block"
        class="btn ion-margin"
        shape="round"
        (click)="camara()"
      >
        <ion-icon slot="start" name="camera"></ion-icon>
        Cámara
      </button>
    </ion-col>

    <ion-col size="6">
      <button expand="full" shape="round" class="btn ion-margin" (click)="''">
        <ion-icon slot="start" name="images"></ion-icon>
        Galería
      </button>
    </ion-col>
  </ion-row>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of tempImages; index as position">
        <ion-img
          [src]="photo.webviewPath"
          (click)="showActionSheet(photo, position)"
        ></ion-img
        ><!-- borrar imagen -->
      </ion-col>
    </ion-row>
  </ion-grid>
 
  <ion-content>
    <ion-toolbar>
      <ion-title class="ion-text-center title-large">Carrusel de fotos</ion-title>
    </ion-toolbar>

    <ion-slides pager="true" class="slide-foto">
      <ion-slide *ngFor="let image of tempImages">    
        <ion-img [src]="image.webviewPath| imageSanitizer" *ngIf="imageSanitizerRequired"></ion-img>
       <ion-img [src]="image.webviewPath" *ngIf="!imageSanitizerRequired"></ion-img>
       <!--  <h1>{{image.filepath}}</h1> -->
      </ion-slide>
    </ion-slides>
  </ion-content>
</ion-content>
