<div class="post" >


<ion-item lines="none">
 <ion-avatar slot="start">
  <img src="assets\avatares\mon1.jpg" />
 </ion-avatar>
 <ion-label>
  <h3>Tutu</h3>
  <h5>cintatafur@gmail.com</h5>
 </ion-label>
</ion-item>

<ion-slides mode="ios" pager="ios" scrollbar="ios" pager="true">
 <ion-slide>
   <ion-img src="assets/1.png"></ion-img>
 </ion-slide>
 <ion-slide>
  <ion-img src="assets/2.png"></ion-img>
</ion-slide>
<ion-slide>
 <ion-img src="assets/3.png"></ion-img>
</ion-slide>
</ion-slides>

<ion-item lines="none">
 <ion-icon slot="start"  name="heart-outline" color="danger"></ion-icon>
 <ion-icon slot="end" name="bookmark-outline" color="warning"></ion-icon>
</ion-item>

<ion-item lines="none">
 <ion-label text-wrap>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptas perspiciatis saepe provident laudantium iusto impedit exercitationem quam enim incidunt. Ipsam fuga quisquam ducimus quae iusto minus, dicta quis consequuntur.
 </ion-label>
</ion-item>

</div>

