/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.poster {
  width: 110px !important;
  height: 160px !important;
}
.imgLogo {
  width: 50%;
  display: block;
  margin: 0px auto;
}
.tituloLabel {
  font-size: xx-large !important;
}
.tituloLabelh4 {
  font-size: x-large !important;
}
.borde {
  --border-style: none;
}
.fondo {
  background-color: black;
}
.btn {
  padding: 17px 40px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(255, 56, 86);
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.3s ease;
  box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
}

.btn:hover {
  box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}

.btn:active {
  background-color: rgb(255, 56, 86);
  /*50, 168, 80*/
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}
.img-avatar {
  width: 150px;
}

.top-20 {
  margin-top: 20px;
}
.btn-font{
  color: rgb(255, 56, 86); 
}
/* .btn-toggle{
  color:#ff8c24 ;
  background-color: #ff8c24;
} */
ion-toggle {
  height: 10px;
  width: 65px;

  padding: 12px;

  --background: #ddd;
  --background-checked: #ddd;

  --handle-background: rgb(255, 56, 86);
  --handle-background-checked: #95c34e;

  --handle-width: 25px;
  --handle-height: 27px;
  --handle-max-height: auto;
  --handle-spacing: 6px;

  --handle-border-radius: 4px;
  --handle-box-shadow: none;

  /* Required for iOS handle to overflow the height of the track */
  overflow: visible;
  contain: none;
}
/* Without setting height the slides will take up the height of the slide's content */
ion-slides {
  height: 100%;
}