<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button >
        <ion-icon slot="icon-only" name="bonfire"></ion-icon>
       
      </ion-button>
    </ion-buttons>


    <ion-title><!-- D:\ionic\FotosgramTutu\src\assets\fgtb.gif -->
      <ion-img src="assets\banner2.png" class="align-text-center"></ion-img>
      <!-- <ion-card>
        <ion-img [src]="i. backdrop_path | imagen"></ion-img>
     </ion-card> -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

<!-- "posts" hace ref a tab1.page.ts  -->
<!--  [posts] hace ref components\posts\posts.component.ts -->
<app-posts [posts]="posts"></app-posts>
</ion-content>
